node_modules/
dist/
.env
*.log
.DS_Store
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.idea/
.vscode/
*.lock
/android/.gradle/
/ios/Pods/
/ios/.symlinks/
build/
*.iml
.metadata
coverage/
.dart_tool/
.packages
.pub/
.pub-cache/
flutter_*.png
